*{
    font-family: 'Roboto Mono', monospace;
}

body{
    margin: 0;
    padding: 0;
}

#pantalla-inicial{
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pantalla-inicial img{
    display: block;
    align-self: center;
    width: 30%;
}


h1{
    margin: 0;
    font-size: 4rem;
    justify-content: center;
    padding: 2%;
}

h2{
    margin: 0;
    font-size: 3rem;
    padding: 0;
    padding-bottom: 5%;
}

#pantalla-inicial button{
    color: white;
    font-size: 1.2rem;
    width: 15%;
    height: 10%;
    margin: 5%;
    background-color: #C13420;
    border: 3px solid #FF8F00 ;
    box-shadow: 5px 5px orange,
    -5px 5px yellow;
}

nav{
    display: none;
    padding-top: 3%;
    padding-left: 10%;
    height: 2%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav img{
    height: 8vh;
    margin-right: 10%;
}

nav h2{
    font-size: 1.5rem;
    padding: 0;
}

nav p{
    color: #0497A5;
    padding-left: 10%;
}

#pantalla-juego{
    display: none;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#pantalla-juego div:first-of-type{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10%;
}

#pantalla-juego div:last-of-type{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10%;
}

#pantalla-juego img{
    width: 10%;
}

#ear, #headphones{
    display: flex;
    padding-top: 30%;
    margin: auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#ear img{
    width: 25%;
    padding-bottom: 3%;
}

#headphones img{
    width: 30%;
    padding-bottom: 3%;
}

#arrows, #space{
    display: flex;
    padding-top: 30%;
    margin: auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#arrows img{
    width: 35%;
    padding-bottom: 3%;
}

#space img{
    width: 30%;
}

#space p{
    font-size: 1.1rem;
}

#pantalla-juego p{
    margin: 0;
}

#pantalla-juego button{
    color: white;
    font-size: 1.2rem;
    width: 15%;
    height: 10%;
    margin: 4%;
    background-color: #C13420;
    border: 3px solid #FF8F00 ;
    box-shadow: 5px 5px orange,
    -5px 5px yellow;
}

#game-board{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3%;
}

canvas{
    border: 1px solid;
}

#pantalla-final{
    visibility: hidden;
}